body {
    background:rgb(204, 255, 193);
    font-family: Arial, Helvetica, sans-serif;
    }
h1 {
color: rgb(65, 88, 59);
text-align: center;
}
.assign {
    display: flex;
    padding: 10px;
    margin: 10px;
    background: rgb(236, 255, 232);
    }
.assign img {
    width: 200px;
    padding: 10px;
}
